* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    line-height: 1.5;
}

h1,
h2,
span {
    font-weight: 700;
}


ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}


h1 {
    font-size: 2rem;
}

p {
    font-size: 1.125rem;
}

a {
    color: unset;
    text-decoration: none;
}

.nav-links,
.hero-link {
    font-size: 0.875rem;
}



.hero {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(260px, 800px) minmax(1em, 1fr);
    background: black;
    background-image: url(/images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.hero > *,
.header-content > *,
.info > *,
footer > * {
    grid-column: 2 / -2;
}



.header-content {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(260px, 800px) minmax(1em, 1fr);
}


.info {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(260px, 800px) minmax(1em, 1fr);
}

footer {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(260px, 800px) minmax(1em, 1fr);
}
